# Logs
logs
*.log
jest_0

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

**/dist*/**
.DS_Store
.editorconfig
.vscode
.eslintcache
